@mixin responsive($breakpoint) {
    @if($breakpoint == Phone)  {
      @media (max-width: 767px) {
        @content
      }
    }
    @if($breakpoint == Wide)  {
      @media (min-width: 768px) {
        @content
      }
    }
    @if($breakpoint == Small)  {
      @media (max-width: 576px) {
        @content
      }
    }
  }
  
  @mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,800;0,900;1,400&display=swap');
  $text : 'Mulish', sans-serif;
  $primaryColor : #00AB61;
  $secondaryColor: #FFA100;
  $thirdColor: #ff2323;
  $backgroundColor : #f3e5cf;

  html, body {
    height: 100%;
  }

  body {
    margin: 0;
    font-family: $text;
    min-width: 300px;
    min-height: 600px;
    background-color: $backgroundColor;
    font-size: 12px;
    @include flexbox;
    flex-direction: column;
  }

  .header-logo {
    @include responsive(Wide) {
        display: none;
    }
    padding: 7px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #FFFFFF;
    img {
        display: block;
        margin: auto;
        width: 95%;
    }
  }

  .logo-desktop {
    @include responsive(Wide) {
      display: block;
      margin: auto;
      margin-top: 10px;
      height: 10%;
      img {
        background-color: white;
        display: block;
        margin: auto;
        height: 100%;
      }
    }
    display: none;
  }

  .background-landing {
    background-image: url('../assets/mercadona_background_phone.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    z-index: -1;
    @include responsive(Wide) {
        background-image: url('../assets/mercadona_background_desktop.jpg');
    }
  }

  .logo {
    width: 95%;
    @include responsive(Phone) {
      display: none;
    }
    img {
      width: 100%;
      display: block;
      margin: auto;
    }
  }

  .title {
    text-transform: uppercase;
    color: $primaryColor;
    font-weight: 800;
    font-size: 1.4em;
    text-align: center;
    @include responsive(Wide) {
        color: #FFFFFF;
    }
  }

  .glassy-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    width: 70%;
    height: 30%;
    min-height: 185px;
    max-width: 350px;
    min-width: 250px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    @include flexbox();
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    @include responsive(Wide) {
      width: 17%;
      min-width: 300px;
      min-height: 250px;
      max-height: 400px;
    }
  }

  .btn {
    text-decoration: none;
    padding: 10px 25px;
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px 0px;
    color: white;
    border: none;
    transition: all ease .3s;
    margin-top: 10px;
    outline: none;
    cursor: pointer;
    &:hover {
      box-shadow: none;
      transition: all ease .3s;
    }
  }

  .bg-green {
    background-color: $primaryColor;
  }

  .bg-orange {
    background-color: $secondaryColor;
  }

  .bg-red {
    background-color: $thirdColor;
  }

  .f-green {
    color: $primaryColor;
  }
  .f-orange {
    color: $secondaryColor;
  }
  .f-red {
    color: $thirdColor;
  }

  .btn-small {
    font-size: 1.2em;
  }

  .btn-large {
    font-size: 1.8em;
  }

  .input {
    border: none;
    text-transform: uppercase;
    padding: 10px 10px;
    width: 70%;
    height: 10px;
    margin: 10px auto;
    border-radius: 7px;
    text-align: center;
    font-weight: 800;
    &::placeholder {
      color: black;
    }
  }

  .select {
    height: fit-content;
    width: 75%;
  }

  input[type=file] {
    background-color: white;
    height: 15px;
  }
  
  .input:focus {
    outline: none;
    border: $secondaryColor solid 2px;
  }

  .login-form {
    width: 90%;
    @include flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info-form {
    text-align: center;
    font-weight: 700;
    line-height: 150%;
    margin: 5px auto;
  }

  .fs-2 {
    font-size: 1.5em;
  }
  .fs-1 {
    font-size: 1.3em;
  }
  .fs-0 {
    font-size: 1em;
  }

  .fw {
    font-weight: 900;
  }

  .f-upper {
    text-transform: uppercase;
  }

  .navbar {
    @include flexbox;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    @include responsive(Wide) {
      background-color: white;
      width: 60%;
      margin: 50px auto auto;
      height: 15%;
      min-height: 100px;
    }
  }

  .nav-item {
    @include flexbox();
    flex-direction: column;
    justify-content: center;
    align-self: center;
    a {
      text-align: center;
      text-decoration: none;
    }
    span {
      @include responsive(Wide) {
        display: block;
        text-align: center;
        margin-top: 10px;
      }
      display: none;
    }
    @include responsive(Wide) {
      position: relative;
      &::after { 
        content: '';
        position: absolute;
        bottom: -5px;
        background-color: $secondaryColor;
        width: 0%;
        height: 2px;
        transition: width ease .7s;
      }
      &:hover::after {
        width: 100%;
        transition: width ease .7s;
      }
    }
  }

  .breakline-lg {
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: 90%;
    @include responsive(Wide) {
      display: none;
    }
  }

  .breakline-med {
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: 70%;
    margin: 0;
    @include responsive(Wide) {
      display: none;
    }
  }

  main {
    @include flexbox();
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

.footer-info {
  width: 100%;
  background-color: $backgroundColor;
  text-transform: uppercase;
  font-weight: 800;
  @include flexbox();
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  .items-footer {
    @include flexbox();
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
}

.box-items {
  @include flexbox();
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
  @include responsive(Wide) {
    flex-direction: row;
    margin-bottom: 100px;
  }
}

.item-display {
  @include flexbox();
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  @include responsive(Wide) {
    background-color: white;
    width: 200px;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.16) 7px 8px 4px 0px;
    gap: 20px;
    .svg {
      order: 1;
    }
    .cat-title {
      order: 2
    }
    .nb {
      order: 3;
    }
  }
}

.svg {
  overflow: hidden;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.20);
  padding: 15px;
}

.form-admin {
  @include flexbox();
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  > * {
    box-shadow: rgba(0, 0, 0, 0.16) 7px 8px 4px 0px;
  }
  @include responsive(Wide) {
    margin-bottom: 100px;
  }
}

#output {
  width: 90%;
  height: auto;
  max-height: 300px;
  margin: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 7px 8px 4px 0px;
  @include responsive(Wide) {
    position: absolute;
    right: 15%;
    top: 40%;
    width: 400px;
  }
}

.list {
  list-style-type:decimal;
  margin: 10px 0 0;
  padding: 0;
  li {
    width: fit-content;
    margin: 5px auto;
  }
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.45);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  & > div {
    text-align: center;
    width: 75%;
    max-height: 300px;
    overflow-y: scroll;
    @include responsive(Wide) {
      width: 400px;
    }
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
  }
}

#modal {
  visibility: hidden;
}

#modal:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-close {
  position: sticky;
  top: 0;
  right: 0;
  @include flexbox();
  flex-direction: row-reverse;
  img {
    width: 20px;
  }
  &:hover {
    color: black;
  }
}

///////// Reset style from notifications bundle \\\\\\\\\\\\\

.fl-main-container .fl-container .fl-progress-bar {
  display : flex;
  height : .55em;
  margin-left : -1px
}

.fl-main-container .fl-container.fl-success .fl-progress-bar {
  background-color : #12e068 !important;
  height: .50em !important;
}
.fl-main-container .fl-container.fl-success .fl-icon {
  background-color : $primaryColor !important;
}
.fl-main-container .fl-container.fl-success .fl-progress-bar .fl-progress {
  background-color : $primaryColor !important;
}
.fl-main-container .fl-container.fl-flasher.fl-success {
  border-left : .8em solid $primaryColor !important;
}
.fl-main-container .fl-container.fl-flasher.fl-success.fl-rtl {
  border-right : .8em solid $primaryColor !important;
}
  .fl-main-container .fl-container.fl-flasher.fl-success:not(.fl-rtl) {
  border-left : .8em solid $primaryColor !important;
}
.fl-main-container .fl-container.fl-flasher.fl-success .fl-title {
  color : $primaryColor !important;
}
.fl-main-container .fl-container.fl-flasher {
  color : $backgroundColor !important;
}

.fl-main-container .fl-container.fl-info .fl-progress-bar {
  background-color : #fcbe54 !important;
  height: .50em !important;
}
.fl-main-container .fl-container.fl-info .fl-icon {
  background-color : $secondaryColor !important;
}
.fl-main-container .fl-container.fl-info .fl-progress-bar .fl-progress {
  background-color : $secondaryColor !important;
}
.fl-main-container .fl-container.fl-flasher.fl-success {
  border-left : .8em solid $secondaryColor !important;
}
.fl-main-container .fl-container.fl-flasher.fl-info.fl-rtl {
  border-right : .8em solid $secondaryColor !important;
}
  .fl-main-container .fl-container.fl-flasher.fl-info:not(.fl-rtl) {
  border-left : .8em solid $secondaryColor !important;
}
.fl-main-container .fl-container.fl-flasher.fl-info .fl-title {
  color : $secondaryColor !important;
}

.fl-main-container .fl-container.fl-error .fl-progress-bar {
  background-color : #f04949 !important;
  height: .50em !important;
}
.fl-main-container .fl-container.fl-error .fl-icon {
  background-color : $thirdColor !important;
}
.fl-main-container .fl-container.fl-error .fl-progress-bar .fl-progress {
  background-color : $thirdColor !important;
}
.fl-main-container .fl-container.fl-flasher.fl-success {
  border-left : .8em solid $thirdColor !important;
}
.fl-main-container .fl-container.fl-flasher.fl-error.fl-rtl {
  border-right : .8em solid $thirdColor !important;
}
  .fl-main-container .fl-container.fl-flasher.fl-error:not(.fl-rtl) {
  border-left : .8em solid $thirdColor !important;
}
.fl-main-container .fl-container.fl-flasher.fl-error .fl-title {
  color : $thirdColor !important;
}



///////// Reset finished \\\\\\\\\\\\\