@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,800;0,900;1,400&display=swap");
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Mulish", sans-serif;
  min-width: 300px;
  min-height: 600px;
  background-color: #f3e5cf;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  body {
    background-image: url('data:image/svg+xml,<svg id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 490" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(0, 171, 97, 1)" offset="0%"></stop><stop stop-color="rgba(0, 171, 97, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(%23sw-gradient-0)" d="M0,343L60,326.7C120,310,240,278,360,277.7C480,278,600,310,720,343C840,376,960,408,1080,383.8C1200,359,1320,278,1440,220.5C1560,163,1680,131,1800,171.5C1920,212,2040,327,2160,318.5C2280,310,2400,180,2520,122.5C2640,65,2760,82,2880,138.8C3000,196,3120,294,3240,310.3C3360,327,3480,261,3600,245C3720,229,3840,261,3960,285.8C4080,310,4200,327,4320,285.8C4440,245,4560,147,4680,89.8C4800,33,4920,16,5040,65.3C5160,114,5280,229,5400,228.7C5520,229,5640,114,5760,122.5C5880,131,6000,261,6120,285.8C6240,310,6360,229,6480,163.3C6600,98,6720,49,6840,40.8C6960,33,7080,65,7200,130.7C7320,196,7440,294,7560,277.7C7680,261,7800,131,7920,73.5C8040,16,8160,33,8280,81.7C8400,131,8520,212,8580,253.2L8640,294L8640,490L8580,490C8520,490,8400,490,8280,490C8160,490,8040,490,7920,490C7800,490,7680,490,7560,490C7440,490,7320,490,7200,490C7080,490,6960,490,6840,490C6720,490,6600,490,6480,490C6360,490,6240,490,6120,490C6000,490,5880,490,5760,490C5640,490,5520,490,5400,490C5280,490,5160,490,5040,490C4920,490,4800,490,4680,490C4560,490,4440,490,4320,490C4200,490,4080,490,3960,490C3840,490,3720,490,3600,490C3480,490,3360,490,3240,490C3120,490,3000,490,2880,490C2760,490,2640,490,2520,490C2400,490,2280,490,2160,490C2040,490,1920,490,1800,490C1680,490,1560,490,1440,490C1320,490,1200,490,1080,490C960,490,840,490,720,490C600,490,480,490,360,490C240,490,120,490,60,490L0,490Z"></path></svg>');
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

@media (min-width: 768px) {
  .header-logo {
    display: block;
    margin-top: 10px;
    height: 10%;
  }
  .header-logo img {
    background-color: white;
    display: block;
    margin: auto;
    height: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
}
@media (max-width: 767px) {
  .header-logo {
    padding: 7px 0;
    background-color: #FFFFFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .header-logo img {
    display: block;
    margin: auto;
    width: 95%;
  }
}

.logo-desktop {
  display: none;
}
@media (min-width: 768px) {
  .logo-desktop {
    display: block;
    margin: auto;
    margin-top: 10px;
    height: 10%;
  }
  .logo-desktop img {
    background-color: white;
    display: block;
    margin: auto;
    height: 100%;
  }
}

@media (min-width: 768px) {
  .no-visible-desktop {
    display: none;
  }
}

.whiteBox {
  background-color: white;
  margin: 0 auto;
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.16) 7px 8px 4px 0px;
}

.background-landing {
  background-image: url("../assets/mercadona_background_phone.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  z-index: -1;
}
@media (min-width: 768px) {
  .background-landing {
    background-image: url("../assets/mercadona_background_desktop.jpg");
  }
}

.logo {
  width: 95%;
}
@media (max-width: 767px) {
  .logo {
    display: none;
  }
}
.logo img {
  width: 100%;
  display: block;
  margin: auto;
}

.title {
  text-transform: uppercase;
  color: #00AB61;
  font-weight: 800;
  font-size: 1.4em;
  text-align: center;
}
@media (min-width: 768px) {
  .title {
    color: #FFFFFF;
  }
}

.glassy-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 185px;
  max-width: 350px;
  min-width: 280px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (min-width: 768px) {
  .glassy-box {
    width: 17%;
    min-width: 300px;
    min-height: 250px;
    max-height: 400px;
  }
}

.btn {
  text-decoration: none;
  padding: 10px 25px;
  text-transform: uppercase;
  font-weight: 800;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px 0px;
  color: white;
  border: none;
  transition: all ease 0.3s;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
}
.btn:hover {
  box-shadow: none;
  transition: all ease 0.3s;
}

.bg-green {
  background-color: #00AB61;
}

.bg-orange {
  background-color: #FFA100;
}

.bg-red {
  background-color: #ff2323;
}

.f-green {
  color: #00AB61;
}

.f-orange {
  color: #FFA100;
}

.f-red {
  color: #ff2323;
}

.center {
  text-align: center;
}

.btn-small {
  font-size: 1.2em;
}

.btn-large {
  font-size: 1.8em;
}

.input {
  border: none;
  text-transform: uppercase;
  padding: 10px 10px;
  width: 70%;
  height: 10px;
  margin: 10px auto;
  border-radius: 7px;
  text-align: center;
  font-weight: 800;
}
.input::-moz-placeholder {
  color: black;
}
.input::placeholder {
  color: black;
}

.input-large {
  width: 90%;
}

.select {
  height: -moz-fit-content;
  height: fit-content;
  width: 90%;
}

input[type=file] {
  background-color: white;
  height: 15px;
}

.input:focus {
  outline: none;
  border: #FFA100 solid 2px;
}

.login-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-form {
  text-align: center;
  font-weight: 700;
  line-height: 150%;
  margin: 5px auto;
}

.fs-2 {
  font-size: 1.5em;
}

.fs-1 {
  font-size: 1.3em;
}

.fs-0 {
  font-size: 1em;
}

.fw {
  font-weight: 900;
}

.f-upper {
  text-transform: uppercase;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .navbar {
    background-color: white;
    width: 60%;
    margin: 50px auto auto;
    height: 15%;
    min-height: 100px;
  }
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.nav-item a {
  text-align: center;
  text-decoration: none;
}
.nav-item span {
  display: none;
}
@media (min-width: 768px) {
  .nav-item span {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
}
@media (min-width: 768px) {
  .nav-item {
    position: relative;
  }
  .nav-item::after {
    content: "";
    position: absolute;
    bottom: -5px;
    background-color: #FFA100;
    width: 0%;
    height: 2px;
    transition: width ease 0.7s;
  }
  .nav-item:hover::after {
    width: 100%;
    transition: width ease 0.7s;
  }
}

.breakline-lg {
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 90%;
}
@media (min-width: 768px) {
  .breakline-lg {
    display: none;
  }
}

.breakline-med {
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 70%;
  margin: 0;
}
@media (min-width: 768px) {
  .breakline-med {
    display: none;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.footer-info {
  width: 100%;
  text-transform: uppercase;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.footer-info .items-footer {
  display: flex;
  gap: 10px;
  color: #00AB61;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .footer-info .items-footer {
    color: white;
  }
}

.user {
  fill: #00AB61;
}
@media (min-width: 768px) {
  .user {
    fill: white;
  }
}

.box-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
}
@media (min-width: 768px) {
  .box-items {
    flex-direction: row;
    margin-bottom: 100px;
    gap: 20px;
  }
}

.item-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media (min-width: 768px) {
  .item-display {
    background-color: white;
    width: 200px;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.16) 7px 8px 4px 0px;
    gap: 20px;
  }
  .item-display .svg {
    order: 1;
  }
  .item-display .cat-title {
    order: 2;
  }
  .item-display .nb {
    order: 3;
  }
}

.svg {
  overflow: hidden;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.2);
  padding: 15px;
}

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 171, 97, 0.2);
  }
  10% {
    box-shadow: 0 0 0 10px rgba(0, 171, 97, 0.2) 0 0 0 10px rgba(52, 185, 128, 0.2);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(126, 165, 114, 0);
  }
}
.form-admin {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.form-admin > * {
  box-shadow: rgba(0, 0, 0, 0.16) 7px 8px 4px 0px;
}
@media (min-width: 768px) {
  .form-admin {
    margin-bottom: 100px;
  }
}

#output {
  width: 90%;
  height: auto;
  max-height: 300px;
  margin: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 7px 8px 4px 0px;
}
@media (min-width: 768px) {
  #output {
    position: absolute;
    right: 15%;
    top: 40%;
    width: 400px;
  }
}

.list {
  list-style-type: decimal;
  margin: 10px 0 0;
  padding: 0;
}
.list li {
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px auto;
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.45);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window > div {
  text-align: center;
  width: 75%;
  max-height: 300px;
  overflow-y: scroll;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
}
@media (min-width: 768px) {
  .modal-window > div {
    width: 400px;
  }
}

#modal {
  visibility: hidden;
}

#modal:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-close {
  position: sticky;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
}
.modal-close img {
  width: 20px;
}
.modal-close:hover {
  color: black;
}

#info {
  margin: 5px 0;
  box-shadow: none;
}

#calendar, #userList {
  display: none;
  width: 30px;
  position: absolute;
  right: 0;
  padding: 5px;
  background-color: #00AB61;
  box-shadow: rgba(0, 0, 0, 0.16) 7px 8px 4px 0px;
  transition: all ease 0.3s;
}
@media (min-width: 768px) {
  #calendar, #userList {
    border-radius: 10px;
    position: inherit;
  }
  #calendar:hover, #userList:hover {
    box-shadow: none;
    transition: all ease 0.3s;
  }
}
#calendar img, #userList img {
  width: 100%;
}

.catalog {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  gap: 10px;
}
@media (min-width: 768px) {
  .catalog {
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
  }
}
.catalog img {
  width: 40%;
}
@media (min-width: 768px) {
  .catalog img {
    width: 200px;
    height: 200px;
  }
}
.catalog .product {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 7px 8px 4px 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px 0;
}
@media (min-width: 768px) {
  .catalog .product {
    flex: 1 0 24%;
    margin: 5px;
  }
}

.product-label {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 5px 0;
}

.product-description {
  margin: 5px 0;
}

.product-price {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0 10px;
}

.old-price {
  text-decoration: line-through;
}

#filter {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
@media (min-width: 768px) {
  #filter {
    max-width: 200px;
  }
}

.filter-group {
  display: flex;
  flex-direction: column-reverse;
  margin: 10px auto;
}

.nav-page {
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}

#notFound {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fl-main-container .fl-container .fl-progress-bar {
  display: flex;
  height: 0.55em;
  margin-left: -1px;
}

.fl-main-container .fl-container.fl-success .fl-progress-bar {
  background-color: #12e068 !important;
  height: 0.5em !important;
}

.fl-main-container .fl-container.fl-success .fl-icon {
  background-color: #00AB61 !important;
}

.fl-main-container .fl-container.fl-success .fl-progress-bar .fl-progress {
  background-color: #00AB61 !important;
}

.fl-main-container .fl-container.fl-flasher.fl-success {
  border-left: 0.8em solid #00AB61 !important;
}

.fl-main-container .fl-container.fl-flasher.fl-success.fl-rtl {
  border-right: 0.8em solid #00AB61 !important;
}

.fl-main-container .fl-container.fl-flasher.fl-success:not(.fl-rtl) {
  border-left: 0.8em solid #00AB61 !important;
}

.fl-main-container .fl-container.fl-flasher.fl-success .fl-title {
  color: #00AB61 !important;
}

.fl-main-container .fl-container.fl-flasher {
  color: #f3e5cf !important;
}

.fl-main-container .fl-container.fl-info .fl-progress-bar {
  background-color: #fcbe54 !important;
  height: 0.5em !important;
}

.fl-main-container .fl-container.fl-info .fl-icon {
  background-color: #FFA100 !important;
}

.fl-main-container .fl-container.fl-info .fl-progress-bar .fl-progress {
  background-color: #FFA100 !important;
}

.fl-main-container .fl-container.fl-flasher.fl-success {
  border-left: 0.8em solid #FFA100 !important;
}

.fl-main-container .fl-container.fl-flasher.fl-info.fl-rtl {
  border-right: 0.8em solid #FFA100 !important;
}

.fl-main-container .fl-container.fl-flasher.fl-info:not(.fl-rtl) {
  border-left: 0.8em solid #FFA100 !important;
}

.fl-main-container .fl-container.fl-flasher.fl-info .fl-title {
  color: #FFA100 !important;
}

.fl-main-container .fl-container.fl-error .fl-progress-bar {
  background-color: #f04949 !important;
  height: 0.5em !important;
}

.fl-main-container .fl-container.fl-error .fl-icon {
  background-color: #ff2323 !important;
}

.fl-main-container .fl-container.fl-error .fl-progress-bar .fl-progress {
  background-color: #ff2323 !important;
}

.fl-main-container .fl-container.fl-flasher.fl-success {
  border-left: 0.8em solid #ff2323 !important;
}

.fl-main-container .fl-container.fl-flasher.fl-error.fl-rtl {
  border-right: 0.8em solid #ff2323 !important;
}

.fl-main-container .fl-container.fl-flasher.fl-error:not(.fl-rtl) {
  border-left: 0.8em solid #ff2323 !important;
}

.fl-main-container .fl-container.fl-flasher.fl-error .fl-title {
  color: #ff2323 !important;
}/*# sourceMappingURL=style.css.map */