@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,800;0,900;1,400&display=swap");
body {
  margin: 0;
  overflow-y: hidden;
  font-family: "Mulish", sans-serif;
  min-width: 300px;
  min-height: 600px;
}

.header-logo {
  padding: 7px 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
@media (min-width: 768px) {
  .header-logo {
    display: none;
  }
}
.header-logo img {
  display: block;
  margin: auto;
  width: 95%;
}

.background-landing {
  background-image: url("../assets/mercadona_background_phone.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  z-index: -1;
}
@media (min-width: 768px) {
  .background-landing {
    background-image: url("../assets/mercadona_background_desktop.jpg");
  }
}

.logo {
  width: 95%;
}
@media (max-width: 767px) {
  .logo {
    display: none;
  }
}
.logo img {
  width: 100%;
  display: block;
  margin: auto;
}

.title {
  text-transform: uppercase;
  color: #00AB61;
  font-weight: 800;
  font-size: 1.4em;
  text-align: center;
}
@media (min-width: 768px) {
  .title {
    color: #FFFFFF;
  }
}

.glassy-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 30%;
  min-height: 185px;
  max-width: 350px;
  min-width: 250px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (min-width: 768px) {
  .glassy-box {
    width: 17%;
    min-width: 300px;
    min-height: 250px;
    max-height: 400px;
  }
}

.btn {
  text-decoration: none;
  padding: 10px 25px;
  text-transform: uppercase;
  font-weight: 800;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px 0px;
  color: white;
  border: none;
  transition: all ease 0.3s;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
}
.btn:hover {
  box-shadow: none;
  transition: all ease 0.3s;
}

.bg-green {
  background-color: #00AB61;
}

.bg-orange {
  background-color: #FFA100;
}

.bg-red {
  background-color: #ff2323;
}

.f-green {
  color: #00AB61;
}

.f-orange {
  color: #FFA100;
}

.f-red {
  color: #ff2323;
}

.btn-small {
  font-size: 1.2em;
}

.btn-large {
  font-size: 1.8em;
}

.input {
  border: none;
  text-transform: uppercase;
  padding: 10px 10px;
  width: 70%;
  height: 10px;
  margin: 10px auto;
  border-radius: 7px;
  text-align: center;
  font-weight: 800;
}
.input::-moz-placeholder {
  color: black;
}
.input::placeholder {
  color: black;
}

.input:focus {
  outline: none;
  border: #FFA100 solid 2px;
}

.login-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-form {
  text-align: center;
  font-weight: 700;
  line-height: 150%;
  margin: 5px auto;
}

.fs-1 {
  font-size: 1.3em;
}/*# sourceMappingURL=style.css.map */