<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ asset('style/style.css')}}" rel="stylesheet" />
    <title>Mercadona - {{title }}</title>
</head>
    <header class="header-logo"><a href="{{ path('landingPage' )}}"/><img src="{{ asset('assets/brand.png') }}" alt="logo" /></a></header>
<body>