{% extends 'base.html.twig' %}
{% block content %}
<div class="glassy-box">
    <img src="{{ asset('assets/brand.png') }}" alt="logo" class="logo"/>
    <h1 class="title">Des offres exclusives chaque jour !</h1>
    <a class="btn btn-large bg-green" href="{{ path('catalog') }}">Catalogue</a>
</div>
{% endblock %}