{% extends 'base.html.twig' %}
{% block content %}
<h1 class="center f-orange">Le goût des promos !</h1>
<div class="whiteBox center btn-small">
    <h2 class="f-green">Mentions légales</h2>
    <h3 class="f-orange">Disclaimer</h3>
    <p>
    Ce site web ne possède aucun lien avec l'entreprise espagnole <span class="f-green fw">Mercadona</span>
    </p>
    <p>
    Ce site web à pour vocation de montrer les compétences du Bloc 3 de la formation Bachelor Développeur d'Application Web chez <a class="f-green fw" href="https://www.studi.com/fr">Studi</a>
    </p>
    <h3 class="f-orange">Hébergeur</h3>
    <p>
    Pour toute réclammation, vous pouvez me contacter à <a class="f-orange fw" href="mailto:admin@studi-mercadona.devexploris.com">cette adresse</a>
    </p>
    <p>
    Site web hébergé chez O2Switch - Chem. des Pardiaux, 63000 Clermont-Ferrand et en autohébergement.
    </p>
    <h3 class="f-orange">Cookies</h3>
    <p>
    Aucun cookie (même si c'est bon) à des fins publicitaires ou de traçage n'est utilisé sur ce site web.
    </p>
    <h3 class="f-orange">Traitement des données personnelles</h3>
    <p>
    Aucune donnée personnelle n'est récoltée sur ce site web.
    </p>
</div>
<br />
{% endblock %}