<h1>Bienvenue {{ code }} !</h1>

<p>
    Un vendeur vous a autorisé à accéder à l'application Mercadona.
</p>
<p>
    Pour vous y connecter, entrez votre code employé et le mot de passe ci-dessous :
</p>
<p><code>{{ password }}</code></p>